.btn-margin{
    margin: 0px 0px 5px 0px;
}
.btn-margin-left {
    margin: 5px 5px 5px 5px;
}
.menu-position{
    margin: 50px 40px 30px 20px ;
}
a:link{
    color: #000000;
}
almost-batton:hover{
    color: #010237;
}
.almost-batton

.almost-batton:hover {
    text-decoration: none;
}
.almost-batton:active {
    text-decoration: none;
}
